h1 {
    text-align: center;
}

.workout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 5px 0;
}

.count {
    font-weight: bolder;
}

.weekdays {
    text-align: center;
}

.weekdays button {
    padding: 1.5em;
    margin: 1em;
}


.booked-workout-container {
    background-color: grey;
    margin: 1em auto;
    width: 250px;
    text-align: center;
    padding: .5em;
    border-radius: 3px;
}

.selected-workout {
    background-color: green;
    display: flex;
    flex-direction: column;
} 

.calendar-container {
    margin: 0 auto;
    max-width: 600px;
}