h1 {
    text-align: center;
}

.DayPicker {
    display: inline-block;
    font-size: 1.5rem;
    display: flex;
    padding: 1em;
  }

  .rdp {
    --rdp-cell-size: 53px; 
    
    --rdp-accent-color: #000000;
    --rdp-background-color: #e3e3e3;
    /* Switch to dark colors for dark themes */
    --rdp-accent-color-dark: #3003e1;
    --rdp-background-color-dark: #180270;
    /* Outline border for focused elements */
    --rdp-outline: 2px solid var(--rdp-accent-color);
    /* Outline border for focused and selected elements */
    --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
  }

.workout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 5px 0;
}

.count {
    font-weight: bolder;
}

.weekdays {
    text-align: center;
}

.weekdays button {
    padding: 1.5em;
    margin: 1em;
}


.booked-workout-container {
    background-color: grey;
    margin: 1em auto;
    width: 250px;
    text-align: center;
    padding: .5em;
    border-radius: 3px;
}

.selected-workout {
    background-color: green;
    display: flex;
    flex-direction: column;
} 

.calendar-container div{
    margin: 0 auto;
    max-width: 600px;
}

.admin-title {
    text-align: center;
}